<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>¿Qué michi hace el Cosito?</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/2.1.3/normalize.min.css">
  <link href='http://fonts.googleapis.com/css?family=Neuton' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div id="container">
    <div id="header">
      <div id="title">¿Qué michi hace el  Cosito?</div>
    </div>

    <div id="fact">
        <div class="description"><%= trivia["title"] %></div>
        <div class="source"><a href='<%= trivia["url"] %>' target="_blank"><%= trivia["url"] %></a></div>
        <a class="button" href="/"><%= trivia["phrase"] %></a>
    </div><!--#fact-->


  </div><!--#container-->

  <div id="footer">
    @rcp
  </div>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="js/script.js"></script>
</body>
</html>
